.country-code-option {
  display: flex;
  font-size: $font-size-l;
  justify-content: space-between;
  align-items: center;
  min-width: 220px;
  min-height: inherit;
  padding: 0 12px;
  color: $color-positive-light;

  &-left {
    display: flex;
    align-items: center;
  }

  &-flag {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    margin-right: 15px;
  }
}
