@keyframes scale-in {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  40%,
  80% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  60% {
    transform: translate3d(10px, 0, 0);
  }
}
